---
// Bibliography Page
// ------------
// Description: The annotated works

// Components
// - Layout
import Layout from '../layouts/Layout.astro'

// - Blocks
import BasicHeroCTA from '../components/blocks/hero/BasicHeroCTA.astro'
import CitesList from '../components/blocks/cites/CitesList.astro'
import {YouTube} from 'astro-lazy-youtube-embed'


// Content
// - SEO
const SEO = {
	title: 'MFA | Biblio',
	description: 'Research'
}
// - Hero
const basicHeroCTA = {
	title: 'Annotated Bibliography'
}
// - Cite List
const citeList = {
	title: 'References'
}
---
<Layout title={SEO.title} description={SEO.description}>
	<BasicHeroCTA title={basicHeroCTA.title} />
		<div class="video-container">
		<YouTube
			title="Bibliography Video"
			videoId="MNoqQUJNaRc"
		/>
		</div>
		<CitesList title={citeList.title} />
</Layout>