---
// Services Page
// ------------
// Description: The services page is a page that displays all the services.

// Components
// - Layout
import Layout from '../layouts/Layout.astro'
// - Blocks
import Hero from '../components/blocks/hero/CollabGrid.astro'
import CollabsList from '../components/blocks/comps/CompsList.astro'
import Section from '../components/ui/Section.astro'
import Row from '../components/ui/Row.astro'
import Col from '../components/ui/Col.astro'
import BasicCard from '../components/ui/cards/Card.astro'
import { YouTube } from 'astro-lazy-youtube-embed'

// Content
// - SEO
const SEO = {
	title: 'MFA | Competencies',
	description: 'Competencies'
}
// - Hero
const hero = {
	title: 'Competencies',
	text: 'In his ignorance..., each person maintains his own arrogant point of view. –Buddha',
	description: ''
}
// - Collabs List
const collabsList = {
	title: 'Capable at the nexus of technology, creativity, and communication',
	text: 'Addressing technological acceleration, evolving consumer behaviors, and shifting business demands.'
}
// Video
// const video = {
// 	video: 'https://oxygenna-themes.b-cdn.net/toki-astro/videos/about-us-video.mp4'
// }
// Brand Slider
const brandSlider = {
	title: 'Brands we’ve teamed up with',
	text: 'From future unicorns to up-and-coming legends, we work with brands that aren’t afraid to make noise.'
}
---

<Layout title={SEO.title} description={SEO.description}>
	<Hero title={hero.title} text={hero.text} description={hero.description} />
	<div class="video-container">
		<YouTube title="Competency Video" videoId="bUQQbrXtppw" />
	</div>
	<CollabsList title={collabsList.title} text={collabsList.text} />
</Layout>
