---
// cites List
// ------------
// Description: A cites section with a title, a subtitle, a description and a grid of cites
// Properties:
// - title: The title of the cites section
// - text: The subtitle of the cites section

// Components
// - Layout
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
// - Blocks
import TitleSection from '../basic/TitleSection.astro'
// - UI
import Card from '../../ui/cards/Card.astro'

// Content
// - Data
import citesData from '../../../data/json-files/citesData.json'
// - Props
const { title = '', text = '' } = Astro.props
---
<TitleSection title={title} text={text} classes="pb-0!" />
<Section stickyCol classes="overflow-visible! ">
	{
		citesData.map((cite) => (
			<Row classes="mb-12 ">
				<Col start="3" span="8" classes="h-full w-full grow">
					<Card
						title={cite.cite}
						cardHeaderClasses="block lg:hidden!"
						classes="h-full w-full"
						cardBodyClasses="h-full lg:pt-7.5! lg:max-w-fill w-full"
						cardMediaClasses="lg:order-2 h-[420px]"
						orientation="horizontal"
					>
						<div class="w-full space-y-4">
							<p class="relative z-10 text-2xl w-full break-words">{cite.cite}</p>
							{cite.anno.map((anno: string) => (
								<p class="relative z-10 text-lg w-full break-words">{anno}</p>
							))}
						</div>
					</Card>
				</Col>
			</Row>
		))
	}
</Section>

