---
// Testimonials Basic
// ------------
// Description: A testimonials section with a title, a subtitle, a description and a grid of testimonials
// Properties:
// - sectionType: The type of the testimonials section
// - classes: The classes of the testimonials section

// Components
// - Layout
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
// - UI
import TestimonialCard from '../../ui/cards/TestimonialCard.astro'

// Content
// - Data
import testimonialData from '../../../data/json-files/testimonialData.json'
// - Props
interface Props {
	sectionType?: 'alt' | 'none'
	classes?: string
}
const { sectionType = 'alt', classes } = Astro.props
---

<Section decoration="all" type={sectionType} classes="">
	<Row classes="lg:gap-7.5!">
		{
			testimonialData.map((item: any) => (
				<Col span={item.colSpan} start={item.colStart} classes="self-end">
					<TestimonialCard
						blockquote={item.blockquote}
						figcaption={item.figcaption}
						classes={classes}
					/>
				</Col>
			))
		}
	</Row>
	<Row classes="mt-15 lg:mt-25">
		<Col span="3" />
		<Col span="9" classes="self-end justify-self-end">
			<h2 class="md:text-right">
				Toki designs and builds digital products brands and experiences with offices in New York and
				Athens.
			</h2>
			<p class="text-lead md:text-right">
				read more about our team and our culture in Toki studios
			</p>
		</Col>
	</Row>
</Section>
