---
// Work Basic
// ------------
// Description: A work basic section with a title, a subtitle, a description and a grid of projects

// Components
// - Layout
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
// - Blocks
import TitleSection from '../basic/TitleSection.astro'
// - UI
import ProjectCard from '../../ui/cards/ProjectCard.astro'

// - Collection
import { getCollection } from 'astro:content'
const allWorkProjects = await getCollection('work', ({ id }) => {
	return id
})
// Function to sort case studies by date
const sortedWorkProjects = allWorkProjects.sort((a: any, b: any) => {
	return new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime()
})
---

<TitleSection
	title="Partners, not just projects."
	text="We collaborate with ambitious teams to build brands, launch websites, and design experiences that actually leave a mark. Here’s a peek at some of the journeys we’ve shared."
	link="/work"
	classes="pb-15!"
/>

<Section stickyCol classes="overflow-visible! pt-0!">
	{
		sortedWorkProjects.slice(0, 5).map((post: any) => (
			<>
				<Row classes="mb-12">
					<Col span="3" classes="h-full">
						<div class="sticky top-32">
							<a href={`/work/${post.id}`} class="h3 mb-2 text-3xl! lg:text-5xl!">
								{post.data.title}
							</a>
						</div>
					</Col>
					<Col span="9">
						<ProjectCard
							image={post.data.imageThumbnail}
							title={post.data.title}
							link={`/work/${post.id}`}
						>
							<p slot="desc">{post.data.description}</p>
							<ul slot="list">
								{post.data.list.map((item: string) => (
									<li>{item}</li>
								))}
							</ul>
						</ProjectCard>
					</Col>
				</Row>
			</>
		))
	}
</Section>
