---
// Text Area
// ------------
// Description: The component for the basic form input field
// Properties:
// - id: The id of the text field
// - label: The label of the text field
// - iconName: The name of the icon to be displayed (optional)
// - iconPosition: The position of the icon (lead or trail)
// - helperText: The helper text to be displayed
// - required: Whether the text field is required
// - disabled: Whether the text field is disabled
// - value: The value of the text field
// - classes: Additional classes to be added to the text field

// Components
// - UI
import Decorations from '../../Decor.astro'

// Props
type Props = {
	id: string
	label: string
	iconPosition?: 'lead' | 'trail'
	helperText?: string
	required?: boolean
	disabled?: boolean
	value?: string
	decoration?: string
	classes?: string
}
const {
	id,
	label,
	iconPosition,
	helperText,
	required,
	disabled,
	value,
	decoration = 'top-left bottom-right',
	classes
} = Astro.props
---

<div
	class:list={[
		'input',
		{ ['input--icon-' + `${iconPosition}`]: iconPosition },
		,
		{ [`${classes}`]: classes }
	]}
>
	<label for={id} class="input__label">
		{label}
	</label>
	<div class="relative">
		<textarea
			id={id}
			rows="5"
			name={id}
			placeholder={label}
			required={required}
			disabled={disabled}
			value={value}
			class="input__field peer"></textarea>
		{decoration !== 'none' && <Decorations type={decoration} size="sm" />}
	</div>

	{
		helperText && (
			<small class="input__helper-text">
				<span> {helperText} </span>
			</small>
		)
	}
</div>

<style>
	@reference '../../../../styles/global.css';
	.input {
		@apply relative w-full;
	}
	.input__field {
		@apply relative mb-0 w-full border border-neutral-100 px-4 text-neutral-700 placeholder-transparent -backdrop-hue-rotate-30 transition-all outline-none autofill:bg-white invalid:border-red-500 invalid:text-red-500 focus:bg-neutral-50 focus:outline-none invalid:focus:border-red-500 focus-visible:outline-none disabled:cursor-not-allowed disabled:bg-neutral-50 disabled:text-neutral-400 dark:border-neutral-800 dark:bg-neutral-900 dark:text-neutral-400 dark:autofill:bg-neutral-800 dark:focus:bg-neutral-950 dark:disabled:bg-neutral-600;
	}
	.input__label {
		@apply font-headings inline-block pb-2 pl-2 text-sm;
	}
	.input__helper-text {
		@apply absolute bottom-0 flex w-full justify-between px-4 py-1 text-xs text-neutral-400 transition peer-invalid:text-red-500;
	}
</style>
