---
// Column
// ------------
// Description: A grid column with responsive span and alignment in a 12-column layout.
// Properties:
// - Span: number of columns to span (1-12) on desktop
// - SpanMobile: number of columns to span (1-12) on mobile
// - Start: starting column position (desktop)
// - Align: horizontal text alignment (start, center, end)
// - Classes: additional CSS classes

// Props
type Props = {
	span?: string
	spanMobile?: string
	start?: string
	align?: string
	classes?: string
}
const { span, spanMobile = '12', start, align, classes } = Astro.props

const hasContent = Astro.slots.default
---

<div
	class:list={[
		'col',
		{ ['col-span-' + `${spanMobile}`]: spanMobile },
		{ ['lg:col-span-' + `${span}`]: span },
		{ ['text-' + `${align}`]: align },
		{ ['lg:col-start-' + `${start}`]: start },
		{ [`${classes}`]: classes }
	]}
>
	{hasContent ? <slot /> : <div class="col__placeholder" />}
</div>

<style>
	@reference '../../styles/global.css';
	.col {
		@apply has-[.col\_\_placeholder]:hidden lg:has-[.col\_\_placeholder]:block;
	}
	.col__placeholder {
		@apply hidden;
	}
</style>
